body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #3DB049;
}

#home {
    margin-left: auto;
}

#contact, #about {
    margin-right: auto;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    display: inline-block;
    width: 400px;
    height: 400px;
    margin: 40px auto;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
}

#blackContainer {
    background-color: #000;
}

#greenContainer {
    background-color: #00FF00;
}

#blueContainer {
    background-color: #0000FF;
}

h2 {
    color:azure
}
.content {
    display: none;
    padding: 20px;
    color: white;
}

.icon-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    font-size: 24px;
}

footer a {
    background-color: #CF8E2A;
    text-align: center;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
}