body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #3DB049;
}

#home {
    margin-left: auto;
}

#contact, #about {
    margin-right: auto;
}

button {
    display: block;
    margin: 40px auto;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    display: inline-block;
    width: 400px;
    height: 400px;
    margin: 40px auto;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
}

.container.visible .content {
    display: block;
}

#blackContainer {
    background-color: #000;
}

#greenContainer {
    background-color: #00FF00;
}

#blueContainer {
    background-color: #0000FF;
}

h2 {
    margin: auto;
    color:azure   
}

.content {
    display: none;
    padding: 20px;
    color: white;
}


footer a i {
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
    font-size: 24px;
}

footer a {
    background-color: #5c3f14;
    text-align: center;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-right: 50px;
}

footer {
    background-color: #CF8E2A;
    width: 100%;
    padding: 10px;
}

